<section class="section-footer">
    <div class="container">
    <h2>HTML</h2>    
      
    <a  href="https://annasabbagh.github.io/go-it-notes/webdevelopment.html#webinars" target="blank"> sulka   na   webinaru 
    </a>

    <a href="https://htmlreference.io/"> <p>
        htmlreference.io
    </p> лінійні теги - немає пустого місця , там можна писати текст
        <p>
            блочні теги - після тексту пусте місце яке пропускається і там не можна писати текст

        </p>
    </a>

    <a href="https://code.tutsplus.com/uk/tutorials/the-30-css-selectors-you-must-memorize--net-16048">
    Селектори CSS
    </a>
    
    
    </div>
</section>
